
@{
    ViewBag.Title = "Crear";
}

<h2>Crear Gasto </h2>

<form action="/Gasto/Crear" method="post">

    <div class="form-group">
        <label>Monto</label>
        <input type="text" class="form-control" name="Monto" placeholder="Entidad Financiera">
        @Html.ValidationMessage("Monto")
    </div>

    <div class="form-group">
        <label>Fecha</label>
        <input type="date" class="form-control" name="Fecha" placeholder="Entidad Financiera">
        @Html.ValidationMessage("Fecha")
    </div>

    <div class="form-group">
        <label>Descripcion</label>
        <input type="text" class="form-control" name="Descripcion" placeholder="Descripcion">
        @Html.ValidationMessage("Descripcion")
    </div>

    <div class="form-group">
        <label>CUENTA EN LA QUE SE AGREGARA  EL GASTO </label>
        <select name="TarjetaId" class="form-control">
            @foreach (var cuenta in ViewBag.Cuenta)
            {
                <option value="@cuenta.Id">@cuenta.Nombres</option>
            }
        </select>
    </div>

    <button class="btn btn-primary">Guardar</button>

</form>